@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,600;9..144,700;9..144,800&display=swap');

h1 {
    color: white;
}

/* * {
    border: solid;
} */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
}

.header h1{
 margin-left: 20px;
 font-family: 'Fraunces', 'serif';
 font-weight: 700

}

a{
    text-decoration: none;
    color: white; 
    margin-right: 20px;
    font-family: 'Fraunces', 'serif';
    font-weight: 500;
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.4s ease-in-out;
}

a:hover{
    border-bottom: 2px solid white;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
  background-color: #ffffff; 
}